<h1 class="page-header text-center">We are happy you want to join us!</h1>

<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label> Full Name: <span>*</span></label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Jon Doe">
  </div>

  <div class="form-group">
    <label>Username:<span>*</span></label>
    <input type="text" [(ngModel)]="username" name="username"  class="form-control" placeholder="JDoe2255">
  </div>

  <div class="form-group">
    <label>Password: <span>*</span></label>
    <input type="password" [(ngModel)]="password" name="password"  class="form-control" placeholder="*****">
  </div>

  <div class="form-group">
    <label>E-mail:</label>
    <input type="text" [(ngModel)]="email" name="email"  class="form-control" placeholder="J.Doe@example.com">
  </div>

  <div class="form-group">
    <label>Phone Number: <span>*</span></label>
    <input type="text" [(ngModel)]="phone" name="phone"  class="form-control" placeholder="555-555-5555">
  </div>

  <div class="form-group">
    <label>State:<span>*</span></label>
    <input type="text" [(ngModel)]="state" name="state"  class="form-control" placeholder="Georgia">
  </div>

  <div class="form-group">
    <label>City:<span>*</span></label>
    <input type="text" [(ngModel)]="city" name="city"  class="form-control" placeholder="Atlanta">
  </div>

  <div class="form-group">
    <label>Years of Experience:<span>*</span></label>
    <input type="text" [(ngModel)]="experience" name="experience"  class="form-control" placeholder="5">
  </div>

  <div class="form-group">
    <label>Specialty:<span>*</span></label>
    <input type="text" [(ngModel)]="specialty" name="specialty"  class="form-control" placeholder="Er Nurse">
  </div>

  <div class="form-group">
    <label>Desired pay:<span>*</span></label>
    <input type="text" [(ngModel)]="wages" name="wages"  class="form-control" placeholder="In hourly rate">
    <!--<label><input type="radio" [(ngModel)]="negotiable" name="negotiable"  value="">&nbsp; Negotiable</label>-->
  </div>

  <input type="submit" class="btn btn-primary text-right" value="Submit">

</form>
