<article class="section-a">
<div class="jumbotron text-center">
  <h1 class="page-header">Welcome to Migrant Med</h1>
  <h3 class="lead">Your one stop before your next gig!</h3>
  <button class="btn btn-primary" [routerLink]="['register']" >Register</button>
  <button class="btn btn-default" [routerLink]="['login']" >Login</button>
</div>
</article>

<article class="section-b">
  <div class="col-md-4">
<h3>For Nurses</h3>
  <ul>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
  </ul>
  </div>

  <div class="col-md-4">
  <h3>for Facilities</h3>
  <ul>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
  </ul>
  </div>

  <div class="col-md-4">
    <h3>What can we do for you?</h3>
    <ul>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
    </ul>
  </div>

</article>

<article class="section-c">

</article>

